CONTRIBUTORS/IIITA/Second Year/Aastha/info.md
CONTRIBUTORS/IIITA/Second Year/Akshat Singh/info.md
CONTRIBUTORS/IITH/2nd/Kushagra/Info.md
CONTRIBUTORS/IIITA/Second\ Year/bhumika-kalaru/info.md
CONTRIBUTORS/IIITA/Second Year/Koshal/info.md
CONTRIBUTORS/IIITA/Second\ Year/Ananya/info.md
CONTRIBUTORS/IIITA/Second Year/Ansh/info.md
CONTRIBUTORS/IIITA/First Year/C Karthik Reddy/info.md

